.character-ratings {
  width: 90vw;
  min-height: 33vh;
  background-color: white;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.character-ratings h4 {
  font-size: 20px;
}

table {
  border-radius: 5px;
  font-family: arial, sans-serif;
  width: 100%;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSbjOHCw2pwjjUvQW4HsEctQyfzWcDmMAjr4ay6xj_zEZVpJQjm_JPdlkb3Lv64vVqRrQ0&usqp=CAU);
}

table td,
table th {
  border: 1px solid #aaa;
  text-align: left;
  padding: 8px;
  font-family: arial, sans-serif;
}

.dark {
  background-color: #dddddde1;
}

.light {
  background-color: #ffffffe1;
}

table th {
  background-color: black;
  color: white;
  font-weight: bold;
}